spring.application.name=RIB

# DATABASE CONNECTION
spring.datasource.url=jdbc:postgresql://localhost:5432/chat
spring.datasource.username=john
spring.datasource.password=pwd1234
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.open-in-view=true

#DEBUG
logging.level.org.springframework.web=DEBUG

#TEST-SEC
#spring.security.user.name=admin
#spring.security.user.password={noop}admin123

#MAIL
#spring.mail.host=bsbdabvjdbhcavdvhasd
#spring.mail.port=8080
#spring.mail.username=moise
#spring.mail.password=wer45suw

#ACTUATOR
#management.endpoints.web.exposure.include=* all actuator's endpoint enabled
management.endpoints.web.exposure.include=health,beans


#SWAGGER
springdoc.swagger-ui.path=/swagger-ui
springdoc.api-docs.enabled=true
springdoc.show-actuator=true #showing the actuator endpoints on swagger